# Copyright 2015 47Lining LLC.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
---

#
# configuration for customer {{customer['name']}}
#

# customer_domain is used for external routing to each of the cages
# configured for this customer, e.g. "nucleator-ui.build.somedomain.com"

customer_domain: {{ customer['domain'] }}

# A Cage is a set of managed AWS infrastructure that exists for a particular purpose.
# Cages can be maintained across one or more customer-specific AWS Accounts.

cage_names:

  # The AWS Acccount that hosts the build cage acts
  # as the source account in cross-account builds
  {% for cage in customer['cages'] %}
    {{ cage['name'] }}:
      account: {{ cage['account_name'] }}
      region: {{ cage['region'] }}
      owner: {{ cage['owner'] }}
  {% endfor %}

aws_accounts:

  {% for account in customer['accounts'] %}
  {{ account['name'] }}:

    account_number: {{ account['aws_number'] }}
    bootstrap_region: {{ account['default_region'] }}

    map_region_plus_redundant_zone_number_to_vpc_valid_az:
    {% for reg in account['map_regions'] %}
      {{ reg['name'] }}:
        {% for z in reg['az_list'] %}
          {{ z }}
        {% endfor %}
    {% endfor %}
  {% endfor %}
