# Copyright 2015 47Lining LLC.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
---

#
# aws credentials for customer {{ customer_name }}
#

aws_account_access_keys:
{% for account in account_list %}
  {{account['name']}}:
    aws_access_key_id: {{account['access_key']}}
    aws_secret_access_key: {{account['secret_key']}}
{% endfor %}

nucleator_userinterface:
  user: admin
  password: add_password_here

artifactory_userinterface:
  user: admin
  password: add_password_here

#
# This is an arbitrary password that will be used on nucleator-ui.keystore
#
jenkins_keystore_password: {{ jenkins_keystore_password }}
#
# This is the default password for /etc/pki/cacerts
# The default as shipped is 'changeit'
#
jenkins_java_keystore_password: {{ jenkins_java_keystore_password }}
